html, body {
  margin: 0;
  padding: 0;
  cursor: url('/images/doge.png'), default;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
  display: block;
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
}

h1 {
  
  color: #ff452d;
  font-size: 2rem;
}

a {
  text-decoration:none;
  color:inherit;
}

#wishes {
  user-select: none;
  opacity: 0;
  top: 20%;
  white-space:nowrap;
  text-align: center;
}

#author {
  user-select: none;
  position:fixed;
  bottom: 1%;
  right:2.5%;
  color: #00bf9c;
  font-size: 0.8rem;
  text-align:right;
}

#logo {
  margin-left: auto;
  margin-right: auto; 
  height: 12rem;
  width: auto;
  top: 15%;
  left: 40%;
  right:40%;
  display:flex;
  position: absolute;
  justify-content:center;
  align-items:center;
  background: url('/images/logo.png');
  background-size: 8rem;
  background-repeat: no-repeat;
  background-position-x: 50%;
   
}

#logo:hover #wishes{
  animation: slide-and-show 1s cubic-bezier(0.65, 0, 0.47, 1.91) forwards;
}

#logo:hover{
  transition: 0.5s;
  background: url('/images/yellowlogo.png');
  background-repeat: no-repeat;
  background-size: 8rem;
  background-position: 50%;
}

@keyframes slide-and-show {
  
  100% {
    transform: translateY(200%);
    opacity: 1;
  }
}